* {
  box-sizing: border-box;
}
:root {
  --primary-color: #1ebfc1;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Common Css ========================================================*/
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 24px);
}
.btn {
  display: inline-block;
  min-width: 186px;
  padding: 20px 12px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  line-height: 1.55;
  color: #fff;
  background: #2ac9bf;
}
.btn:hover {
  color: #2ac9bf;
  background: #fff;
  border: 1px solid #2ac9bf;
}
.heading {
  color: #0d1111;
  font-weight: 700;
}
.lv1 {
  font-size: 6.2rem;
  line-height: 1.16; /* 116.129% */
}
.lv2 {
  font-size: 4.2rem;
  line-height: 1.34; /* 133.333% */
}
.lv3 {
  font-size: 2rem;
  font-weight: 600;
}
.lv4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
/* Header */
.header {
  padding-top: 44px;
}
.header.fixed {
  position: sticky;
  top: -44px;
  background: #fff;
  z-index: 1;
}
.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.header .nav-list {
  display: flex;
  gap: 39px;
}
.header .logo {
  width: 127px;
  height: 37px;
}
.header .nav-item a {
  color: #2f3a3b;
  font-size: 1.6rem;
}
.header .nav-item.item-active a,
.header .nav-item a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #2f3a3b;
}
.header .active {
  display: flex;
  align-items: center;
}
.header .active a {
  color: #494949;
  font-size: 1.6rem;
}
.header .active .active-btn {
  text-align: center;
  min-width: 108px;
  padding: 12px 0;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
  color: var(--primary-color);
  margin-left: 24px;
}
.header .active .active-btn:hover {
  background: var(--primary-color);
  color: #fff;
}
/* Hero */
.hero {
  margin: 42px 0 79px 0;
}
.hero .body {
  display: flex;
}
.hero .info {
  margin: auto 0;
  width: 39.2%;
}
.hero .info .sub-title {
  font-size: 1.4rem;
  color: #767e7e;
}
.hero .info .heading.lv1 {
  margin-top: 18px;
}
.hero .info .desc {
  margin-top: 46px;
  width: 374px;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #9da6a5;
}
.hero .cta {
  margin-top: 52px;
  display: flex;
  align-items: center;
}
.hero .cta .play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 52px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.hero .image {
  position: relative;
  margin-left: auto;
  width: 641px;
  height: 631px;
}
.hero .image .thumb {
  display: flex;
  width: 576px;
  height: 631px;
  object-fit: cover;
  margin-left: auto;
}
.hero .image .course {
  position: absolute;
  bottom: 407px;
  left: 25px;
  display: flex;
  align-items: center;
  padding: 18px 25px;
  width: 157px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .course .course-icon {
  width: 36px;
  height: 40px;
}
.hero .course .sub-icon {
  position: absolute;
  left: 29px;
  bottom: 26px;
}
.hero .course .heading {
  margin-left: 16px;
  width: 55px;
}
.hero .schedules {
  position: absolute;
  bottom: 46px;
  display: inline-block;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .schedules .heading {
  text-align: center;
}
.hero .schedules .img {
  margin-top: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}
.hero .schedules img {
  width: 74px;
  height: 6px;
}
.hero .students {
  position: absolute;
  right: 45px;
  bottom: 41px;
  display: inline-block;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .students .img-list {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.hero .students .img-item,
.hero .students .img-list img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -7px;
  object-fit: cover;
}
.hero .students .img-list img:first-of-type {
  margin-left: 0;
}
.hero .students .img-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: var(--primary-color);
}
/* Features ================================================================= */
.features {
  margin-top: 65px;
  padding: 65px;
}
.features .info {
  width: 50.5%;
}
.features .info .title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
  word-spacing: 2.5px;
}
.features .info .heading.lv2 {
  margin-top: 18px;
}
.features .info .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  color: #767e7e;
  line-height: normal;
}
.features .content {
  margin-top: 80px;
  width: 87.5%;
}
.features .content .features-list {
  display: flex;
  justify-content: space-between;
}
.features .features-item {
  width: 224px;
}
.features .features-item:first-child {
  width: 168px;
}
.features .features-item .heading.lv3 a {
  color: #0d1111;
}
.features .features-item .icon {
  display: block;
  width: 102px;
  height: 106px;
}
.features .features-item .heading.lv3 {
  margin-top: 26px;
}
.features .features-item .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.6875; /* 168.75% */
}
/* Popular */
.popular {
  padding: 65px 0;
}
.popular .info .title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  word-spacing: 2.5px;
}
.popular .info .heading {
  margin-top: 18px;
}
.popular .info .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .info .row .desc {
  width: 45%;
  margin-top: 19px;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  color: #767e7e;
}
.popular .info .row .view {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
  color: var(--primary-color);
}
.popular .course-body {
  margin-top: 79px;
}
.popular .course-body .course-list {
  display: flex;
  gap: 47px;
}
.popular .course-item {
  position: relative;
  width: 33.33%;
  height: 517px;
}
.popular .course-item .image {
  width: 100%;
  height: 393px;
  border-radius: 8px;
  object-fit: cover;
}
.popular .course-item .image:hover {
  opacity: 0.35;
  background: #d0efed;
}
.popular .course-item .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 325px;
  height: 195px;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.popular .content .heading.lv3 a {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0d1111;
}
.popular .content .fee {
  margin-top: 16px;
  font-size: 1.6rem;
  color: #767e7e;
}
.popular .content .fee strong {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
  color: #0d1111;
}
.popular .content .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  color: #9da6a5;
  line-height: normal;
}
.popular .content .foot {
  margin-top: 18px;
}
.popular .content .foot span {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  margin-right: 10px;
}
.popular .content .foot span::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  margin-bottom: 2px;
  margin-right: 10px;
  border-radius: 50%;
  background: var(--primary-color);
}
/* Data=============================================================================== */
.data {
  margin-top: 135px;
  padding: 65px 0;
}
.data .main-content {
  width: 862px;
}
.data .data-list {
  display: flex;
  justify-content: space-between;
}
.data .data-item {
  text-align: center;
}
.data .data-item .value {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}
.data .data-item .desc {
  margin-top: 11px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}
/* Famous ==============================================================================================*/
.famous {
  margin-top: 134px;
  padding: 65px 0;
}
.famous-body {
  display: flex;
}
.famous .info {
  margin: auto 0;
  width: 35.8%;
}
.famous .info .quotes {
  width: 36px;
  height: 29px;
}
.famous .info .content {
  margin-top: 27px;
  font-size: 3.2rem;
  line-height: 1.5; /* 150% */
  color: #5d6564;
}
.famous .info .title {
  display: flex;
  align-items: center;
  margin-top: 33px;
  font-size: 1.6rem;
  line-height: normal;
  color: #767e7e;
}
.famous .info .title strong {
  margin-left: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #070707;
}
.famous .info .title::before {
  content: "";
  width: 8px;
  height: 2px;
  background: #070707;
}
.famous .info .group-btn {
  margin-top: 52px;
  display: flex;
  gap: 0 30px;
}
.famous .info button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #2ac9bf;
  background: #2ac9bf;
  color: #fff;
}
.famous .info button:hover {
  background: #fff;
  color: #2ac9bf;
  cursor: pointer;
}
.famous .images {
  position: relative;
  margin-left: 72px;
  width: 679px;
  height: 481px;
}
.famous .images .main-avatar {
  position: absolute;
  top: 107px;
  left: 273px;
  width: 235px;
  height: 235px;
  border-radius: 50%;
  object-fit: cover;
}
.famous .images .avatar-1 {
  position: absolute;
  top: 0;
  left: 144px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  object-fit: cover;
}
.famous .images .avatar-2 {
  position: absolute;
  top: 19px;
  right: 0;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}
.famous .images .avatar-3 {
  position: absolute;
  bottom: 29px;
  right: 32px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
.famous .images .avatar-4 {
  position: absolute;
  left: 212px;
  bottom: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
.famous .images .avatar-5 {
  position: absolute;
  left: 0;
  bottom: 145px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: cover;
}
/* CTA=============================== */
.cta {
  background: #def6f5;
  padding: 76px 0 88px;
}
.cta .cta-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta .info .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: normal;
  color: #767e7e;
}
.cta .cta-btn {
  margin-right: 154px;
}
.cta .cta-btn:hover {
  background: #def6f5;
}
/* Footer */
.footer {
  margin-top: 81px;
  padding: 50px 0;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
.footer .column .title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  color: #2e2e2e;
}
.footer .column .list {
  margin-top: 25px;
}
.footer .column li {
  margin-top: 18px;
}
.footer .column .list li span {
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}
.footer .column a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.footer .row:last-child {
  margin-top: 80px;
}
.footer .row .copyright {
  margin: 0 auto;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
}
/* =================================================================================== */
